body {
    background-image: linear-gradient(to bottom, #A6CDC6 40%, #3A6D8C, #001F3F);
    background-attachment: fixed;
}

h1 {
    font-family: 'Segoe UI', system-ui, sans-serif;
}

header {
    text-align: center;
    margin: 5%;
}

.nuage {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
    position: fixed;
}

#nuage1 {
    left: 5%;
    top: 10%;
    animation: floatNuage1 3s ease-in-out infinite;
}

#nuage2 {
    right: 5%;
    top: 35%;
    animation: floatNuage2 3s ease-in-out infinite;
}

@keyframes floatNuage1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floatNuage2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    header {
        margin: 5%;
    }

    .nuage {
        width: 40%;
    }

    .raton {
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
        z-index: -100;
    }


    .bulle {
        width: 90%;
        height: auto;
        position: relative;
    }

    .bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px 0px;
        justify-items: center;
        align-items: center;
        margin-top: 30%;
    }
}

@media screen and (min-width: 768px) {
    .nuage {
        width: 15%;
    }
    .raton {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .bulle {
        position: relative;
    }

    .bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px 0px;
        justify-items: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}