@import url(star-wars.css);
@import url(fonts.css);

:root {
    --r-background-color: #e7e7e7;
    --r-main-color: #012d3f;
    --r-main-font: 'Titillium Web';
}

.reveal .progress {
    height: 9px;
}

code {
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
    white-space: nowrap;
    box-shadow: 0px 0px 5px 1px #6d6d6d;
}

.admonitionblock.warning {
    background-color: #ff000043;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 3px #6d6d6d56;
}

.admonitionblock.important {
    background-color: #ffae0088;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 3px #6d6d6d56;
}

.admonitionblock.tip {
    background-color: #04ff0043;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 3px #6d6d6d56;
}

.conum {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1.2rem !important;
    line-height: 2.1rem !important;
}

.colist td {
    font-size: 1.5rem !important;
}

ul li p {
    font-size: smaller;
}

body::after {
    content: url("../images/logo_event.svg");
    position: absolute;    
    left: -200px;
    bottom: -30px;
    transform: scale(0.5);
    z-index: 1000;
}

.transparency.slide-background.present {
    opacity: 1;
}

.smaller {
    font-size: 1.5rem;
}

.rounded > img {
    border-radius: 2rem;
}

.main-title > h2 {
    color: white !important;
    text-shadow: 0 0 4px #000000;
}

.svg {
    text-shadow: 0 0 4px #000000;
}

.presentation p {
    color: white;
}